.BuildControls {
    width: 100%;
    background-color: #1182E0;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0px -5px 15px -9px #013451;
    margin: auto;
    padding: 10px 0;
}


.OrderButton {
    background-color: #03358a;
    outline: none;
    cursor: pointer;
    border: 1px solid #03358a;
    border-radius: 15px;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    width: 260px;
    height: 55px;
    box-shadow: 2px 2px 2px #03358a;
    margin-top: 5px;
    font-weight: 600;
}

.OrderButton:hover, .OrderButton:active {
    background-color:#234dc2;
    border: #234dc2;
    color: white;

}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #555555;
    font-weight: 600;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}