.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 1px solid #ccc;
    max-height: 90%;
    overflow: auto;
    padding: 10px;
    left: 10%;
    top: calc(50% - 260px);
    
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

@media (min-width: 600px) {
    .Modal {
        top: calc(50% - 240px);
        width: 500px;
        left: calc(50% - 250px);
        max-height: 90%;
        overflow: auto;
    }
}
@media (min-height: 600px) {
    .Modal {
        top: calc(50% - 270px);
       
        max-height: 84%;
        overflow: auto;
    }
}